In [2]:
from pyspark.sql import SparkSession 
spark=SparkSession.builder.appName("Exampleapp").getOrCreate()
emp_df=spark.read.csv('/kaggle/input/example2/employee.csv',header=True,inferSchema=True)
emp_df.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [4]:
dept_df=spark.read.csv('/kaggle/input/example2/department.csv',header=True,inferSchema=True)
dept_df.show()

+----+----------+------------+
|user|department| designation|
+----+----------+------------+
|   1|        it|   software |
|   2|     sales|data analyst|
|   3|     other|     trainer|
|   4|        it|data analyst|
|   7|     other|   marketing|
|   8|     other|       sales|
+----+----------+------------+

In [5]:
#left join 
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'left').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|NULL|      NULL|        NULL|
|     6|  neha| 17000|   UK|NULL|      NULL|        NULL|
+------+------+------+-----+----+----------+------------+

In [6]:
#left join 
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'right').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|  NULL|  NULL|  NULL| NULL|   7|     other|   marketing|
|  NULL|  NULL|  NULL| NULL|   8|     other|       sales|
+------+------+------+-----+----+----------+------------+

In [7]:
#full outer join 

emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'fullouter').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|NULL|      NULL|        NULL|
|     6|  neha| 17000|   UK|NULL|      NULL|        NULL|
|  NULL|  NULL|  NULL| NULL|   7|     other|   marketing|
|  NULL|  NULL|  NULL| NULL|   8|     other|       sales|
+------+------+------+-----+----+----------+------------+

In [8]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'leftsemi').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
+------+------+------+-----+

In [9]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'leftanti').show()

+------+----+------+---+
|emp_id|name|salary|loc|
+------+----+------+---+
|     5| sil| 24000| UK|
|     6|neha| 17000| UK|
+------+----+------+---+